@keyframes rotateSpinner {
    to {
        transform: rotate(360deg);
    }
}

.gptbutton.disabled i {
    animation: rotateSpinner 800ms linear infinite;
}

.gpt {
    margin: 30px;
    padding: 10px 20px;
    text-align: center;
    border: 1px solid #ebe534;
    background-color: rgba(221, 224, 36, 0.2);
}
.gpt-loader {
    width: 18px;
    height: 18px;
    margin-right: 4px;
}
.gpt-answers-data {
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.gpt-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}
.gpt-copy-icon {
    display: inline-flex;
    align-items: center;
    margin-left: 20px;
}